


*
{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif !important;
	font-family: 'Montserrat', sans-serif !important;
	color: black;
}
.navbar , .container-fluid
{
	background-color: #3A58AF !important;
	
}

.a_color
{
	color: #000080 !important;
}

.navbar-nav
{
	font-size: 130%;
	width: 80%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}

button 
{
	color: white !important;
	background-color: #3A58AF;
	border: solid white 1px;
	padding: 2%;
	border-radius: 5%;
}

a
{
	color: white !important;
	cursor: pointer;
}