*
{
	margin: 0;
	padding: 0;
}

#new_project
{
	margin:auto !important;
}
#additional
{
	margin: 0 !important;
	padding: 0 !important;

}

#projects_head
{
	background-color: #343a40;
	color: white;
	display: flex;
	width: 100%;
	padding: 20px 35px;
}

button
{
	padding: 1% 2%;
	cursor: pointer;
	width: 65%;
	color: black;
	margin: auto;
	border: solid 1px #c8c8c8 !important;
	background-color: white;
}

#table_body
{
	
	display: flex;
	flex-direction: column;
}

.project_row
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.data_row
{
	background-color: white;
	padding: 20px 35px;
}
.data_row:hover
{
	background-color:  #f2f2f2;
}
.project_cell
{
	width: 33.3%;
	padding: 5px;
}

table
{
}
#layer_one
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}
#projects_search_bar
{
	padding: 10px 5px;
}
#sort_select
{
	
	padding: 2px;
	font-size: 19px;
	border-radius: 0;
}
.project_table
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.column
{
	width: 33.3%;

}
.column-h
{
	padding: 5px;
	border: solid 2px black;
	font-size: 24px;
	font-weight: 400;
}

#header
{
	display: flex;
	justify-content: space-evenly;
	margin: 70px 0px 20px 0px;
	
}

tr
{
	

	align-items: center;
}
input
{
	border-radius: 0% !important;
	outline: none !important;
	border: solid 1px #c8c8c8 !important;
}
.project_table
{
	font-size: 19px;
	margin: 10px 0;
}
.des_content
{
	padding: 5px;
	display: none;
	width: inherit !important;
}
.description
{
	padding: 5px;
	margin: 10px;
}
.project_name
{
	font-weight: 600;
	font-size: 23px;
}

.outer_results
{
	width: 100%;
	display: flex;
	justify-content: center;
}

#home_body
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	
}

#filters
{
	display: flex;
	align-items: center;
}

.black_color
{
	color: black !important;
}

.form-control:focus , select:focus
{
box-shadow: none !important;
outline: none !important;
border-color: #c8c8c8 !important;  /*change focus border color*/
}
#results
{
	width: 80%;
	display: flex ;
	flex-direction: column;
	jusify-content: center;
}

body
{
	background-color: #EBEBEB;
}




::placeholder
{
	color: rgba(0,0,0,.55) !important;
}


a:link , a:visited , a:hover ,a ,a:active 
{ text-decoration: none; }

 a:hover
 {
 	color: #00008B;
 }




button:hover , input:hover
{
	background-color:  #f2f2f2;
}


.form-select
{

}

.fa-regular
{
	width: 2% !important;
	color: red;
	font-size: 20px;
	cursor: pointer;
}
.modal-content
{
	border-radius: 0 !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
}
.modal-header
{
	padding :0 2px;
	width: 100%;
	border: 0;
	display: flex;
	padding: 20px 30px 20px 30px;
}
#dummy1
{
	width: 1px;
}
#close_window
{
	background-color: transparent;
	border: 0 !important	;
}
#save_changes
{
	width: 100%;
}
#new_p_input
{
	width: 70%;
	border: 0 !important;
}
.modal-footer
{
	border: 0 !important;
	width: 50%;
}

#reports_table
{
	width: 100%;
}
#filter_opened
{
	display: flex;
	justify-content: flex-start;
	font-size: 20px;
	margin: 10px;
}

#project_html_table
{
	width: 100%;
}

#header_right_section
{
	width: 20%;
}
#reports_by_project_table_header
{
	width: 60%;
}

.hover_color
{
	color: #2d51ff !important;
}