


*
{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
	color: black;
}


#main
{
	padding: 30px ;
	width: 100%;

}
#layer_one
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}
#projects_search_bar
{
	padding: 10px 5px;
}
#sort_select
{
	margin-top: 20px;
	padding: 5px;
	font-size: 21px;
}
.project_table
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.column
{
	width: 33.3%;

}
.column-h
{
	padding: 5px;
	border: solid 2px black;
	font-size: 24px;
	font-weight: 400;
}
#results
{
	
}
#header
{
	display: flex;
	justify-content: space-evenly;
	margin: 70px 0px 20px 0px;
	
}

.project_table
{
	font-size: 19px;
	margin: 10px 0;
}
.des_content
{
	border: solid 1px black;
	padding: 5px;
	width: 50%;
}
.description
{
	padding: 5px;
	margin: 10px;
}
.project_name
{
	font-weight: 600;
	font-size: 23px;
}