


*
{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

#new_project
{
	margin:auto !important;
}
#additional
{
	margin: 0 !important;
	padding: 0 !important;

}
#layer_one
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}
#projects_search_bar
{
	padding: 10px 5px;
}
#sort_select
{
	margin-top: 20px;
	padding: 2px;
	font-size: 19px;
}
.project_table
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.column
{
	width: 33.3%;

}
.column-h
{
	padding: 5px;
	border: solid 2px black;
	font-size: 24px;
	font-weight: 400;
}

#header
{
	display: flex;
	justify-content: space-evenly;
	margin: 70px 0px 20px 0px;
	
}

tr
{
	

	align-items: center;
}
.project_table
{
	font-size: 19px;
	margin: 10px 0;
}
.des_content
{
	padding: 5px;
	display: none;
	width: inherit !important;
}
.description
{
	padding: 5px;
	margin: 10px;
}
.project_name
{
	font-weight: 600;
	font-size: 23px;
}

#home_body
{
	width: 100%;
	display: flex;
	justify-content: space-around;

}

#filters
{
	padding: 1%;
	border-right: solid grey 1px;
}
#results
{
	width: 66.6%;
	display: flex ;
	flex-direction: column;
	jusify-content: center;
}

body
{
	background-color: #EBEBEB;
}

