<html>
<head>
	{% load static %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet"> 


	{% block css_files %}

	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'base.css' %}">
	{% endblock %}
</head> 
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">


					<div id="left_section" class="d-flex justify-content-around align-items-center mx-4"> 
						<li class="nav-item">
							<a href="{% url 'home' %}" id="go_projects" class="nav-link active">Projects</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'reports' %}" class="nav-link">Reports</a>
						</li>
					</div>


					<div class="btn-group user-container" >
						<button class="btn btn-secondary user_avatar" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
							{{ user.username }}
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<div class="font_light" id="user_figs">
								
							</div>
							<li class="nav-item font_light">
								<a href="{% url 'logout' %}" class="nav-link ">Log out</a>
							</li>
						</ul>
					</div>
					
				</ul>

			</div>
		</div>
	</nav>

	<div id="additional" class="">
		{% block content %}
		
		{% endblock %}
	</div>
	<script src="{% static 'bootstrap.bundle.min.js' %}"> </script>
	<script src="{% static 'bootstrap.esm.min' %}"> </script>	


	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" ></script>


</body>
</html>