{% extends "base.html" %}

{% load static %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'Fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'base.css' %}">
	<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
	<div>
		<div id="layer_one">
			<h1>Projects</h1>
			<div><input id="projects_search_bar" type="text" name="seach_name" placeholder="Search by name"></div>
		</div>

		<div>
			<label for="sort">Sorted by<label>
			<select name="sort" id="sort_select">
			<option value="default"></option>
			<option value="alpha">Name</option>
			<option value="date">Date added</option>
			<option value="bugs_number">Bugs</option>
			</select>	
		</div>
		

	</div>
	<div id="header">
			<div class="column column-h"  >Project name</div>
			<div class="column column-h" >Bugs</div>
			<div class="column column-h" >Date</div>
		</div>
	<div id="results">
		
		{% for project in projects %}
		<div class="project_table"> 
			<div class="column project_name"> {{ project.name }}</div>
			<div class="column project_bugs">{{ project.bugs_count }}</div>
			<div class="column project_date">{{ project.date_added }}</div>

		</div>
		<input id="{{ project.id }}" class="Description" type="button" name="description" value="Description" >
		<div class="des_content" id="{{ project.id }}c">
			{{ project.description }}
		</div>
		<hr>
		{% endfor %}
		{% if not projects %}
		 <div>no results found</div>
		{% endif %}
	</div>
	<script src="{% static 'jquery.js' %}"></script>
	<script src="{% static 'home-js.js' %}">


	</script>
	<script>
		
		let select =$("#sort_select")
		select.change(function ()
			{
				
				$.ajax(
				{
					url: "{% url 'home' %}",
					type:'GET',
					dataType:"json",
					headers: {"test": "123"},
					success:function(data)
					{
					console.log(data)
					}
				})
			})
	</script>
{% endblock %}
