<html>
<head>
	{% load static %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet"> 

	
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'sign.css' %}">
	

	<style>
		
	</style>
</head>
<body>
	<div class="alert alert-success w-75 text-center mt-5" role="alert">
		Password reset form has been sent , Please check you E-mail
	</div>

	
	

	<script src="{% static 'bootstrap.bundle.min.js' %}"> </script>	
</body>

</html>