<html>
<head>
	{% load static %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet"> 

	
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'sign.css' %}">
	

	<style>
		
	</style>
</head>
<body>
	
	<div id="form_container">
		<div id="title_space"><h1 id="title">Password Reset Form</h1></div>
		<form class="mt-5" method="POST">
			{% csrf_token %}
			<div class="mb-4" id="container">

				<div class="mb-3">
					
					
					<input name="email" placeholder="E-mail" type="email" class="form-control" id="email_input" aria-describedby="emailHelp">		

				</div>
			</div>
			<button class="mb-2" type="submit" >Send</button>
			<p class="error">{{ message }}</p>	
			
		</form>
	</div>
</div>

<script src="{% static 'bootstrap.bundle.min.js' %}"> </script>	
</body>

</html>