{% extends "base.html" %}

{% load static %}

{% block css_files %}


<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">


<link rel="stylesheet" href="{% static 'project.css' %}">
{% endblock %}






{% block content %}

<div class="container">
	<div class="row justify-content-between">
		<div class="col-12">


			<h1 class="display-1" id="project_title">{{ project.name }}</h1>
			<h4 >Reports : {{ project.bugs_count }}</h4>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Impact</th>
						<th scope="col">Reported by</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>

					{% for report in reports %}

					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{report.title}}</td>
						<td>{{report.severity}}</td>
						<td>{{report.reported_by}}</td>
						<td><p>
							<a class="btn btn-primary" id= "{{report.id}}" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="{{report.id}}">Details</a>

						</p></td>
					</tr>

					{% endfor %}




				</tbody>
			</table>
		</div>

	</div>


	<div class="row justify-content-between">
		<div id="report_info" class="col-6">
			jdlakwjdlkaw
		</div>
		<div id="discussion" class="col-6">
			right
		</div>

	</div>



</div>

<script src="{% static 'JS/jquery.js' %}"></script>
<script src="{% static 'JS/home-js.js' %}"></script>
<script >

	let select =$("#sort_select")


	select.change(function ()
	{
		var method = $("#sort_select").val()
		if (method == "Sort by")return 
			$.ajax(
			{
				url: "{% url 'home' %}",
				type:'GET',

				headers: {"method": method , "ajax":true , "ajaxFunction":"sort"},
				success:function(data)
				{

					wrapper = json_to_html(data)

					document.getElementById("table_body").innerHTML =wrapper
					if(wrapper === "")
					{
						document.getElementById("table_body").innerHTML = "no result found"
					}
					enable_delete()

				}
			})
	})

  //search ajax
  let search = $("#search_input")
  search.on('input', function() 
  {
  	var value = search.val()
  	$.ajax(
  	{
  		url:"{% url 'home' %}",
  		type:"GET",
  		headers:{"searchWord":value , "ajax":true , "ajaxFunction":"search" },
  		success :function (data)
  		{
  			wrapper = json_to_html(data)
  			document.getElementById("table_body").innerHTML =wrapper
  			if(wrapper === "")
  			{	
  				document.getElementById("table_body").innerHTML = "no result found"
  			}
  			enable_delete()
  		}
  	})
  })


  function json_to_html(json_data)
  {
  	try
  	{
  		json_data = JSON.parse(json_data)
  	}catch
  	{
  		return ""
  	}
  	list = []
  	for(let i = 0 ; i< json_data.length ; i++)
  	{
  		list[i] = JSON.parse(json_data[i])
  	}
  	wrapper = ``
  	counter = 1
  	list.forEach((x)=>
  	{
  		wrapper +=`
  		<tr>
  		<th scope="row"> ${ counter }</th>
  		<td ><a href="{% url 'home' %}/${x.id}" class="a_color">${x.name}</a></td>
  		<td >${x.bugs_count}</td>
  		<td >${x.date}</td>
  		<td><button class="remove_project" id="${x.id}" >Remove</button></td>
  		</tr> 
  		`
  		counter ++
  	})

  	return wrapper	
  }


  $("#add_project").click(function (){
  	send_project()
  })

  function send_project()
  {
  	$("#save_changes").click(function ()
  	{
  		name = $("#new_project_name").val()

  		if(name == "")
  		{
  			window.alert("Project title is required");
  		}else
  		{

  			let project_name = name 


  			$.ajax(
  			{
  				url:"{% url 'home' %}",
  				type:"GET",
  				headers:{"data":project_name , "ajax":true , "ajaxFunction":"add" },
  				success :function (data)
  				{
  					$("#new_project_name").val("")
  					wrapper = json_to_html(data)
  					document.getElementById("table_body").innerHTML =wrapper
  					if(wrapper === "")
  					{	
  						document.getElementById("table_body").innerHTML = "no result found"
  					}
  					enable_delete()
  				}
  			})
  		}
  	})
  }
  enable_delete()
  function enable_delete()
  {
  	col = document.getElementsByClassName("remove_project")
  	for(let i = 0 ; i < col.length ; i++)
  	{



  		col[i].addEventListener("click" , function (event)
  		{
  			to_send = event.target.id
  			$.ajax( 
  			{
  				url : "{% url 'home' %}",
  				type :"GET",
  				headers:{"data":to_send , "ajax":true , "ajaxFunction":"delete" },
  				success : function (data){
  					wrapper = json_to_html(data)
  					document.getElementById("table_body").innerHTML =wrapper
  					if(wrapper === "")
  					{	
  						document.getElementById("table_body").innerHTML = "no result found"
  					}
  					enable_delete()
  				}
  			})
  		})
  	}
  }



</script>

{% endblock %}
