{% extends "base.html" %}

{% load static %}

{% block css_files %}


<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">


<link rel="stylesheet" href="{% static 'project.css' %}">
{% endblock %}






{% block content %}

<div class="container">
	<div class="row justify-content-between">
		<div class="col-12">


			<h1 class="display-1" id="project_title">{{ project.name }}</h1>
			<h4 >Reports : {{ project.bugs_count }}</h4>

			<table class="table table-hover mt-5">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Impact</th>
						<th scope="col">Reported by</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>

					{% for report in reports %}

					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{report.title}}</td>
						<td>{{report.severity}}</td>
						<td>{{report.reported_by.username}}</td>
						<td><p>
							<a class="btn btn-primary details" id= "{{report.id}}" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="{{report.id}}">Details</a>

						</p></td>
					</tr>

					{% endfor %}




				</tbody>
			</table>
		</div>

	</div>


	<div id="second_row">
		<div class="row justify-content-between collapse multi-collapse clpsd" id="multiCollapseExample1">
          <div id="report_info" class="col-6 card card-body">
          bug content
          </div>
          <div id="discussion" class="col-6">
          discussion
          </div></div> 
	</div>



</div>
<div id="test"></div>
<script src="{% static 'JS/jquery.js' %}"></script>
<script src="{% static 'JS/home-js.js' %}"></script>
<script >

	
	
	function get_reports_info(report_id)
	{
		
		
		$.ajax({
			url:"{% url 'project' project.id %}",
			type:'GET',
			headers:{'ajax':true,"data":"reports","reportid":report_id},
			success:function(data){
				let parsed_object = JSON.parse(data)
				
				assigned_to_html = ``
				for(let i = 0 ; i<parsed_object.assigned_to.length ; i++)
				{
					assigned_to_html+=`<p>${parsed_object.assigned_to[i].username}</p>`
				}
				let wrapper =`
				<label>title</label>
				<p>${parsed_object.title}</p>
				<label>project</label>
				<p>${parsed_object.belongs_to.name}</p>
				<label>severity</label>
				<p>${parsed_object.severity}</p>
				<label>description</label>
				<p>${parsed_object.description}</p>
				<label>attachment</label>
				<img src="${parsed_object.attachment}">
				<label>state</label>
				<p>${parsed_object.state}</p>
				<label>date added</label>
				<p>${parsed_object.date_added}</p>
				<label>reported by</label>
				<p>${parsed_object.reported_by.username}</p>
				<label>assigned to</label>
				${assigned_to_html}
				`

				 $("#report_info").html(wrapper)
				
			}
		})
		
		
	}

	


	

	col = document.getElementsByClassName("details")
	for(let i = 0; i < col.length ; i++)
	{
		col[i].addEventListener("click",function (event){
			id_fetch = event.target.id
			test = get_reports_info(id_fetch)
			
		
			
		})
	}

  function json_to_html(json_data)
  {
  	try
  	{
  		json_data = JSON.parse(json_data)
  	}catch
  	{
  		return ""
  	}
  	list = []
  	for(let i = 0 ; i< json_data.length ; i++)
  	{
  		list[i] = JSON.parse(json_data[i])
  	}
  	wrapper = ``
  	counter = 1
  	list.forEach((x)=>
  	{
  		wrapper +=`
  		<tr>
  		<th scope="row"> ${ counter }</th>
  		<td ><a href="{% url 'home' %}/${x.id}" class="a_color">${x.name}</a></td>
  		<td >${x.bugs_count}</td>
  		<td >${x.date}</td>
  		<td><button class="remove_project" id="${x.id}" >Remove</button></td>
  		</tr> 
  		`
  		counter ++
  	})

  	return wrapper	
  }





</script>

{% endblock %}
